* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.navbar {
    z-index: 999;
    font-size: 18px;
    position: fixed;
    top: 0;
    background-color: rgba(231, 231, 231, 0.3);
    backdrop-filter: blur(45px);
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.albuns-ul {
    width: 84%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#nav-logo {
    width: 8%;
    height: 100%;
    display: flex;
    align-items: center;
}

#div-session {
    width: 8%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div-session a {
    height: 35px;
    width: 100px;
    background-color: black;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tyler-logo {
    height: 60px;
    margin-left: 8px;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li.albuns-li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 8vw;
    margin-left: 5px;
}

ul li.nav-home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 8vw;
}

ul li.nav-home:hover {
    background-color: rgba(229, 229, 229, 0.5);
}

ul li.nav-sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 8vw;
}

ul li.nav-sobre:hover {
    background-color: rgba(229, 229, 229, 0.5);
}

ul li.albuns-li:hover {
    background-color: rgba(229, 229, 229, 0.5);
}

ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
}

ul li a.dropdown-album:hover {
    cursor: none;
}

ul.dropdown-albuns li {
    display: block;
}


ul.dropdown-albuns {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    top: 8vh;
    background-color: rgb(255, 255, 255, 0.8);
    position: absolute;
    z-index: 1000;
    display: none;
}

ul.dropdown-albuns a{
    color: black;
}

ul.dropdown-albuns a:hover{
    color: white;
    background-color: rgb(90, 90, 90, 0.8);
}

li:hover ul.dropdown-albuns {
    display: block;
    width: 20vw;
}

.white{
    color: rgb(0, 0, 0);
}






.main {
    margin-top: 8vh;
    display: block;
}



.inicio {
    height: 92vh;
    background: url(../assets/background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.inicio span {
    margin-left: 50%;
    font-size: 80px;
}



/* Home */
.home {
    height: 100vh;
    background-color: #fceea8;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.img-tyler{
    height: 80%;
    width: 40%;
}

.text-tyler{
    height: 80%;
    width: 40%;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}

.titulos-home {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-name-text {
    font-size: 50px;
    margin-bottom: 30px;
}

/* .title-artist-text {
    font-size: 40px;
} */

.body-text {
    font-size: 20px;
    text-align: justify;
}
/* Home */







/* Goblin */
.goblin {
    background-color: #282b30;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.img-goblin {
    width: 40%;
}

.img-goblin img{
    height: 550px;
    box-shadow: 5px 5px 5px 5px rgb(36, 36, 36);
}

.img-goblin img:hover{
    scale: 1.01;
    transition: 0.3s;
}

.text-goblin {
    width: 40%;
    color: white;
}
/* Goblin */





/* Wolf */
.wolf {
    background-color: #7ab6e3;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.img-wolf {
    width: 40%;
}

.img-wolf img{
    height: 550px;
    box-shadow: 5px 5px 5px rgb(43, 118, 131);
}

.img-wolf img:hover{
    scale: 1.01;
    transition: 0.3s;
}

.text-wolf {
    width: 40%;
}
/* Wolf */


/* Cherry Bomb */
.cherrybomb {
    background-color: #abbdbc;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.img-cherrybomb {
    width: 40%;
}

.img-cherrybomb img{
    height: 550px;
    box-shadow: 5px 5px 5px rgb(128, 138, 140);
}

.img-cherrybomb img:hover{
    scale: 1.01;
    transition: 0.3s;
}

.text-cherrybomb {
    width: 40%;
}
/* Cherry Bomb */



/* Flower Boy */
.floweboy {
    background-color: #fc8d1b;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.img-flowerboy {
    width: 40%;
}

.img-flowerboy img{
    height: 550px;
    box-shadow: 5px 5px 5px 5px #bc6813;
}

.img-flowerboy img:hover{
    scale: 1.01;
    transition: 0.3s;
}

.text-flowerboy {
    width: 40%;
    color: white;
}
/* Flower Boy */



/* Igor */
.igor {
    background-color: #f3b5c8;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.img-igor {
    width: 40%;
}

.img-igor img{
    height: 550px;
    box-shadow: 5px 5px 5px 5px #d090a3;
}

.img-igor img:hover{
    scale: 1.01;
    transition: 0.3s;
}

.text-igor {
    width: 40%;
    color: white;
}
/* Igor */



/* Call Me If You Get Lost */
.callmeifyougetlost {
    background-color: #e7dab0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.img-callmeifyougetlost {
    width: 40%;
}

.img-callmeifyougetlost img{
    height: 550px;
    box-shadow: 5px 5px 5px 5px #ada27e;
}

.img-callmeifyougetlost img:hover{
    scale: 1.01;
    transition: 0.3s;
}

.text-callmeifyougetlost {
    width: 40%;
    color: white;
}
/* Call Me If You Get Lost */



/* Call Me If You Get Lost: The Estate Sale */
.callmeifyougetlost_2 {
    background-color: #63b3bc;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.img-callmeifyougetlost_2 {
    width: 40%;
}

.img-callmeifyougetlost_2 img{
    height: 550px;
    box-shadow: 5px 5px 5px 5px #44929b;
}

.img-callmeifyougetlost_2 img:hover{
    scale: 1.01;
    transition: 0.3s;
}

.text-callmeifyougetlost_2 {
    width: 40%;
    color: white;
}
/* Call Me If You Get Lost: The Estate Sale */




/* Chromakopia */
.chromakopia {
    background-color: #1a1a1a;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.img-chromakopia {
    width: 40%;
}

.img-chromakopia img{
    height: 550px;
    box-shadow: 5px 5px 5px 5px rgb(58, 59, 59);
}

.img-chromakopia img:hover{
    scale: 1.01;
    transition: 0.3s;
}

.text-chromakopia {
    width: 40%;
    color: white;
}
/* Chromakopia */





/* Don't Tap The Glass */
.donttaptheglass {
    background-color: #c62022;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.img-donttaptheglass {
    width: 40%;
}

.img-donttaptheglass img{
    height: 550px;
    box-shadow: 5px 5px 5px 5px #6a080a;
}

.img-donttaptheglass img:hover{
    scale: 1.01;
    transition: 0.3s;
}

.text-donttaptheglass {
    width: 40%;
    color: white;
}
/* Don't Tap The Glass */