* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    scroll-behavior: smooth;
}



body {
    height: 100vh;
    width: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.black{
    color: rgb(0, 0, 0);
}

.navbar {
    z-index: 999;
    top: 0;
    background-color: rgba(231, 231, 231, 0.3);
    backdrop-filter: blur(45px);
    font-size: 18px;
    position: fixed;
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.albuns-ul {
    width: 84%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#nav-logo {
    width: 8%;
    height: 100%;
    display: flex;
    align-items: center;
}

#acessar {
    width: 8%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#acessar a {
    height: 45px;
    width: 120px;
    font-family: 'Heavitas';
    background-color: black;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tyler-logo {
    height: 60px;
    margin-left: 8px;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li.albuns-li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 8vw;
    margin-left: 5px;
}

ul li.nav-home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 8vw;
}


ul li.nav-sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 8vw;
}

ul li.nav:hover {
    background-color: rgba(229, 229, 229, 0.5);
}

ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
}

ul li a.dropdown-album:hover {
    cursor: none;
}

ul.dropdown-albuns li {
    display: block;
}


ul.dropdown-albuns {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    top: 8vh;
    background-color: rgb(255, 255, 255, 0.8);
    position: absolute;
    z-index: 1000;
    display: none;
}

ul.dropdown-albuns a{
    color: black;
}

ul.dropdown-albuns a:hover{
    color: white;
    background-color: rgb(90, 90, 90, 0.8);
}

li:hover ul.dropdown-albuns {
    display: block;
    width: 20vw;
}

.nav a {
    font-family: 'Heavitas';

}






.main {
    margin-top: 8vh;
    display: block;
}


.inicio {
    height: 92vh;
    background: url(../assets/background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.inicio span {
    margin-left: 50%;
    font-size: 80px;
}



/* Home */
.home {
    height: 100vh;
    background-color: #fceea8;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.img-tyler{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 50%;
}

.text-tyler{
    height: 80%;
    width: 50%;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-tyler .content {
    height: 100%;
    width: 80%;
}

.titulos-home {
    display: flex;
    align-self: self-start;
    justify-content: space-between;
}

.title-name-text {
    font-size: 2.4em;
    margin-bottom: 10px;
}

.body-text {
    font-size: 1.4em;
    text-align: justify;
}
/* Home */




.album-cover {
    display: block;
    width: 60%;
    height: auto;
}

.title-album {
    font-size: 2.8em;
    font-weight: bold;
}

.text-album {
    font-size: 1.3em;
    width: 70%;
    text-align: justify;
}
.text-album strong{
    font-size: 1.2em;
}

.cover-session {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.8em;
}

.cover-session div {
    width: 60%;
}

.cover-session img:hover{
    scale: 1.01;
    transition: 0.3s;
}

.text-session {
    width: 50%;
    height: 80%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.recomendacao {
    display: flex;
    width: 70%;
    height: 10%;
    flex-direction: column;
}

.recomendacao span{
    font-weight: bold;
    font-size: 1.5em;
}


/* Goblin */
.goblin {
    background: url(../assets/goblin-texture.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.img-goblin img{
    box-shadow: 5px 5px 5px 5px rgb(36, 36, 36);
}

.goblin .cover-session span {
    font-family: 'Cooper Five';
    color: #ed008c;
}

.goblin .cover-session .recomendacao span {
        font-size: 0.5em;
        font-family: 'Cooper Five';
        color: #ffffff;
}

.goblin .text-album strong {
    font-family: 'Cooper Five';
    color: #ed008c;
}

.goblin .title-album {
    font-family: 'Cooper Five';
    color: #ed008c;
}
/* Goblin */




/* Wolf */
.wolf {
    background: url(../assets/wolf-texture.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.img-wolf img{
    box-shadow: 5px 5px 5px rgb(43, 118, 131);
}

.wolf .cover-session span {
    font-family: 'Arial';
    color: white;
}

.wolf .text-album strong {
    font-family: 'Arial';
    color: white;
}

.wolf .text-album, .text-wolf .recomendacao {
    color: black;
}

.wolf .title-album {
    font-family: 'Arial';
}
/* Wolf */


/* Cherry Bomb */
.cherrybomb {
    background: url(../assets/cherrybomb-texture.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.img-cherrybomb img{
    box-shadow: 5px 5px 5px rgb(128, 138, 140);
}

.cherrybomb .cover-session span {
    font-family: 'KG Summer Sunshine Blackout';
    color: #992f3f;
}

.cherrybomb .text-album strong {
    font-family: 'KG Summer Sunshine Blackout';
    color: #992f3f;
    font-size: 0.95em;
}

.cherrybomb .text-album, .text-cherrybomb .recomendacao {
    color: black;
}

.cherrybomb .text-session {
    height: 80%;
}
/* Cherry Bomb */



/* Flower Boy */
.flowerboy {
    background: url(../assets/flowerboy-texture.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;    
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.img-flowerboy img{
    box-shadow: 5px 5px 5px 5px #37391a;
}

.flowerboy .cover-session span {
    font-family: 'Arial Black';
    color: #fbb931;
}

.flowerboy .text-album strong {
    font-family: 'Arial Black';
    color: #fbb931;
}

.flowerboy .text-album, .text-flowerboy .recomendacao {
    color: white;
}

.flowerboy .title-album {
    font-family: 'Arial Black';
    color: #fbb931;
}
/* Flower Boy */



/* Igor */
.igor {
    background: url(../assets/igor-texture.png);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.img-igor img{
    box-shadow: 5px 5px 5px 5px #d090a3;
}

.igor .cover-session span {
    font-family: 'Igor';
    color: black;
}

.igor .text-album strong {
    font-family: 'Igor';
}

.igor .text-album {
    font-size: 1.4em;
}

.igor .text-album, .text-igor .recomendacao {
    color: black;
}

.igor .title-album {
    font-family: 'Igor';
    color: black;
    font-size: 4em;
}
/* Igor */



/* Call Me If You Get Lost */
.callmeifyougetlost {
    background: url(../assets/passport-texture.png);
        background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.img-callmeifyougetlost img{
    box-shadow: 5px 5px 5px 5px #ada27e;
}

.callmeifyougetlost .cover-session span {
    font-family: 'Heavitas';
    color: #432e09;
}

.callmeifyougetlost .title-album {
    font-family: 'Heavitas';
}

.callmeifyougetlost .text-album strong {
    font-family: 'Heavitas';
    color: #432e09;
}

.callmeifyougetlost .text-album, .callmeifyougetlost .recomendacao {
color: black;
}

.callmeifyougetlost .title-album {
    font-family: 'Heavitas';
    color: #432e09;
    font-size: 4em;
}
/* Call Me If You Get Lost */



/* Call Me If You Get Lost: The Estate Sale */
.callmeifyougetlost_2 {
    background: url(../assets/blue-suede-texture.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.img-callmeifyougetlost_2 img{
    box-shadow: 5px 5px 5px 5px #44929b;
}

.callmeifyougetlost_2 .cover-session span {
    font-family: 'Heavitas';
    color: #432e09;
}

.callmeifyougetlost_2 .title-album {
    font-family: 'Heavitas';
    font-size: 2.5em;
}

.callmeifyougetlost_2 .title-theestatesale{
    font-family: 'Buinton';
    font-size: 1.4em;
    font-weight: bold;
    color: #432e09;
}

.callmeifyougetlost_2 .text-album strong {
    font-family: 'Heavitas';
    color: #432e09;
}


/* Call Me If You Get Lost: The Estate Sale */




/* Chromakopia */
.chromakopia {
    background: url(../assets/chromakopia-texture.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.img-chromakopia img{
    box-shadow: 5px 5px 5px 5px rgb(58, 59, 59);
}

.chromakopia .cover-session span {
    font-family: 'Poleno SemiBold';
    color: #12793c;
}

.chromakopia .text-album strong {
    font-family: 'Poleno SemiBold';
    color: #12793c;
}

.chromakopia .title-album {
    font-family: 'Igor';
    color: #12793c;
    font-size: 4em;
}
/* Chromakopia */





/* Don't Tap The Glass */
.donttaptheglass {
    background: url(../assets/textura-de-couro-branco.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.img-donttaptheglass img{
    box-shadow: 5px 5px 5px 5px #836565;
}

.donttaptheglass .cover-session span {
    font-family: 'DTTG';
    color: #ba1e21;
}

.donttaptheglass .text-album strong {
    font-family: 'DTTG';
    color: #ba1e21;
}

.donttaptheglass .text-album, .donttaptheglass .recomendacao {
    color: black;
}

.donttaptheglass .title-album {
    font-family: 'DTTG';
    color: #ba1e21;
    font-size: 4em;
}
/* Don't Tap The Glass */


footer {
    background-color: #fceea8;
    height: 15vh;
}


@font-face {
    font-family: 'Spicy Sale';
    src: url(../assets/fonts/Spicy\ Sale.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Heavitas';
    src: url(../assets/fonts/Heavitas.ttf) format('truetype');
}

@font-face {
    font-family: 'Retro Vintage';
    src: url(../assets/fonts/Retro\ Vintage.ttf) format('truetype');
}

@font-face {
    font-family: 'Cooper Five';
    src: url(../assets/fonts/Cooper\ Five.otf) format('opentype');
}

@font-face {
    font-family: 'Behove';
    src: url(../assets/fonts/Behove.otf) format('opentype');
}

@font-face {
    font-family: 'Buinton';
    src: url(../assets/fonts/buinton.otf) format('opentype');
}

@font-face {
    font-family: 'Igor';
    src: url(../assets/fonts/IGOR.ttf) format('truetype');
}

@font-face {
    font-family: 'Poleno SemiBold';
    src: url(../assets/fonts/Poleno\ SemiBold.otf) format('opentype');
}

@font-face {
    font-family: 'DTTG';
    src: url(../assets/fonts/DTTG.ttf) format('truetype');
}

@font-face {
    font-family: 'KG Summer Sunshine';
    src: url(../assets/fonts/KGSummerSunshine.ttf) format('truetype');
}

@font-face {
    font-family: 'KG Summer Sunshine Blackout';
    src: url(../assets/fonts/KGSummerSunshineBlackout.ttf) format('truetype');
}

@font-face {
    font-family: 'KG Summer Sunshine Shadow';
    src: url(../assets/fonts/KGSummerSunshineShadow.ttf) format('truetype');
}