*{
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

body {
    background-color: #fceea8;
    height: 100vh;
    width: 100vw;
}

main {
    width: 100%;
    height: 100%;
    display: flex;

}

.login {
    height: 100%;
    width: 50%;
    background-color: aqua;
}

.imagem {
    height: 100%;
    width: 50%;
    background: url(../assets/igor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}