*{
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

body {
    background-color: #fceea8;
    height: 100vh;
    width: 100vw;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    height: 70vh;
    width: 30vw;
    background-color: rgba(9, 52, 36, 0.8);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.card-title{
    margin: 5px;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-title-img {
    position: absolute;
    width: 10%;
    z-index: 10;
}

.card-title-img img {
    height: 60px;
}

.card-form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-title-text {
    z-index: 9;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 25px;
}

.card-data {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card-input div {
    height: 80%;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-size: 20px;
}

.card-input input{
    border-radius: 10px;
    border-style: none;
    height: 30px;
    width: 50%;
    margin-bottom: 15px;
}

.card-button button{
    width: 50%;
    height: 35px;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
}

.card-cadastro {
}

.card-cadastro a{
    text-decoration: none;
}



