* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: url(../assets/igor-texture.png);
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div a{
    text-decoration: none;
    color: black;
    font-family: 'Heavitas';
    font-size: 4vh;
    padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 1vh;
    padding-top: 1vh;
}

header div a.ativo{
    background-color: #be6c83;
    color: white;
}

header div a:hover{
    background-color: rgb(0, 0, 0, 0.2);
}






main {
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #E8E8E8;
}

.user {
    width: 20%;
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.user .titulo {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
}

.user .titulo h1 {
    font-size: 2.5em;
}

.user .titulo h2 {
    font-size: 1.3em;
}

.user .album {
    height: 65%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user .album div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
    width: 80%;
    border-radius: 10px;
    border: 4px solid black;
    margin-bottom: 25%;
}

.user .album div h1 {
    font-family: 'Heavitas';
}

.user .album div img {
    height: 60%;
}

.user .sair {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 2em;
}

.user .sair span {
    margin: 4%;
}





.divisoria {
    width: 0.2%;
    height: 85vh;
    background-color: black;
    border-radius: 50px;
}










.itens {
    height: 92vh;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.kpis {
    width: 98%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.kpi {
    background-color: #f8b5c6;
    box-shadow: #be6c83 4px -3px 3px 0px;
    height: 100%;
    width: 22%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5em;
    font-family: 'Open Sans';
    font-weight: bold;
}


.tentativasQuestionario {
    width: 80%;
    height: 76%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #f8b5c6;
    font-family: 'Open Sans';
    align-items: center;
}

.tentativasQuestionario .grafico {
    width: 90%;
    height: 80%;
}




@font-face {
    font-family: 'Heavitas';
    src: url(../assets/fonts/Heavitas.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    src: url(../assets/fonts/Open\ Sans.ttf) format('truetype');
}