* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.black {
    color: rgb(0, 0, 0);
}

.navbar {
    top: 0;
    background-color: rgba(231, 231, 231, 0.3);
    backdrop-filter: blur(45px);
    font-size: 18px;
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.albuns-ul {
    width: 84%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#nav-logo {
    width: 8%;
    height: 100%;
    display: flex;
    align-items: center;
}

#acessar {
    width: 8%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#acessar a {
    height: 45px;
    width: 120px;
    font-family: 'Heavitas';
    background-color: black;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tyler-logo {
    height: 60px;
    margin-left: 8px;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li.albuns-li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 8vw;
    margin-left: 5px;
}

ul li.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 8vw;
}

ul li.nav:hover {
    background-color: rgba(229, 229, 229, 0.5);
}

ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
}

ul li a.dropdown-album:hover {
    cursor: none;
}

ul.dropdown-albuns li {
    display: block;
}

ul.dropdown-albuns {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    top: 8vh;
    background-color: rgb(255, 255, 255, 0.8);
    position: absolute;
    z-index: 1000;
    display: none;
}

ul.dropdown-albuns a {
    color: black;
}

ul.dropdown-albuns a:hover {
    color: white;
    background-color: rgb(90, 90, 90, 0.8);
}

li:hover ul.dropdown-albuns {
    display: block;
    width: 20vw;
}

.nav a {
    font-family: 'Heavitas';

}

main {
    height: 92vh;
    background: url(../assets/igor-texture.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}


.texto {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.area-sobre {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.area-sobre div {
    align-self: flex-start;
}

.texto .title-sobre {
    font-family: 'Heavitas';
    font-size: 4rem;
}

.texto .nome-sobre {
    font-family: 'Heavitas';
    font-size: 4rem;
    color: #ffffff;
}

.text-sobre {
    font-family: 'Arial';
    font-size: 1.6rem;
    text-align: justify;
}

.imagem {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem img {
    width: 50%;
    border-radius: 50%;
}


































@font-face {
    font-family: 'Heavitas';
    src: url(../assets/fonts/Heavitas.ttf) format('truetype');
}