/* Não usar pure white or pure black: https://uxplanet.org/basicdesign-never-use-pure-black-in-typography-36138a3327a6 */
/* The 4-point grid system: https://medium.com/@sainzkike/controlling-spacing-in-design-systems-multiple-spacing-9bf1afec87f */
:root {
    --primary-brand-color: #ED145B;
    --secondary-brand-color: #0762C8;
    --success: #198754;
    --success-dark: #095c36;
    --success-light: #9dd3ba;
    --warning: #ffc107;
    --warning-dark: #705400;
    --warning-light: #fdebb3;
    --danger: #dc3545;
    --danger-dark: #990c19;
    --danger-light: #f0c1c6;
    --new-gray: #CCCCCC;
    --new-black: #212427;
    --new-white: #E8E8E8;
}

@font-face {
    font-family: 'Heavitas';
    src: url(../assets/fonts/Heavitas.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    src: url(../assets/fonts/Open\ Sans.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--new-black);
    background-color: var(--new-white);
}

header {
    background: url(../assets/igor-texture.png);
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div a {
    text-decoration: none;
    color: var(--new-black);
    font-family: 'Heavitas';
    font-size: 4vh;
    padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 1vh;
    padding-top: 1vh;
}

header div a.ativo {
    background-color: #be6c83;
    color: var(--new-white);
}

header div a:hover {
    background-color: rgb(0, 0, 0, 0.2);
}

main {
    height: 92vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main div.inicio {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--new-white);
}

main div.inicio-ranking {
    background: url(../assets/igor-texture.png);
    width: 70%;
    height: 96%;
    border-radius: 5px;
}

main div.inicio-questionario {
    background: url(../assets/igor-texture.png);
    width: 25%;
    height: 96%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main div.inicio-questionario .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* background-color: #0762C8; */
    height: 75%;
    width: 100%;
}

main div.inicio-questionario h1 {
    color: var(--new-black);
    margin-bottom: 5%;
    width: 80%;
    font-family: 'Heavitas';
    font-size: 2.2em;
    text-align: center;
}

main div.inicio-questionario span {
    font-family: 'Open Sans';
    font-weight: bold;
    color: var(--new-black);
    width: 90%;
    font-size: 1.4em;
    text-align: justify;
}

main div.inicio button {
    color: var(--new-white);
    margin-top: 5%;
    background-color: #d86e89;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    height: 120px;
    width: 350px;
    font-size: 1.8em;
    font-family: 'Heavitas';    
    box-shadow: 1px 5px 5px rgba(161, 81, 101, 0.67);
}

main div.inicio button:hover {
    background-color: #d86e89;
    color: #17191b;
    scale: 1.01;
    transition: 0.2s;
}

main div.inicio-ranking .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
}

main div.inicio-ranking h1 {
    color: var(--new-black);
    font-family: 'Heavitas';
    font-size: 2.2em;
    text-align: center;
}

main div.inicio-ranking span {
    font-family: 'Heavitas';
    color: var(--new-black);
    font-size: 1.4em;
}


main div.inicio-ranking .tabela{
    width: 100%;
    height: 85%;
    /* background-color: #92a19a;  */
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 90%;
    height: 95%;
    text-align: center;
    margin: 25px 0;
}


table thead th {
    background-color: #d86e89;
    padding: 20px 0;
    font-size: 1.7em;
    font-family: 'Heavitas';
}

table thead th:first-child{
    border-radius: 10px 0px 0px 10px;
} 
table thead th:last-child {
    border-radius: 00px 10px 10px 00px;
}

table tbody tr {
    font-size: 1.6em;
    font-family: 'Open Sans';
    font-weight: bold;
}



table tbody tr:nth-child(even) td:first-child{
    border-radius: 10px 0px 0px 10px;
} 
table tbody tr:nth-child(even) td:last-child{
    border-radius: 00px 10px 10px 00px;

}

table tbody tr:nth-child(even){
    background-color: #d86e89;
    border-radius: 10px;
}

table tbody tr td {
    height: 50px;
}












main .questionario {
    width: 95%;
    height: 94%;

}

main .questionario .card-perguntas {
    background: url(../assets/igor-texture.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pontuacaoEJogo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}

#pontuacao {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    font-weight: bold;
    font-family: 'Open Sans';
    color: white;
}

#pontuacao span {
    margin: 5px;
}

#pontuacaoFinalJogo {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
}

#jogo {
    font-family: 'Open Sans';
    font-weight: 1000;
    width: 100%;
    height: 92%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#jogo #infoQuestao {
    color: var(--new-white);
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#jogo #infoQuestao span {
    font-size: 1.2em;
}

#jogo #perguntaDaQuestaoAtual {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#jogo #perguntaDaQuestaoAtual span {
    font-size: 3em;
}

#jogo #infoAlternativas {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#jogo #infoAlternativas span{
    font-size: 1.5em;
}

#jogo #opcoes {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#jogo #opcoes span{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 1px 5px 5px rgba(161, 81, 101, 0.67);
    background-color: #db849b;
    color: var(--new-white);
    height: 15%;
    width: 94%;
    margin: 10px 10px 10px 2%;
    padding-left: 1%;
    border-radius: 15px;
    font-size: 1.4em;
}

#jogo #opcoes span:hover {
    background-color: #9a5e70;
    color: var(--new-white);
}

#jogo #opcoes span.marcado {
    background-color: #9a5e70;
    color: var(--new-white);
}

#jogo #opcoes span input {
    appearance: none;
}

#jogo span label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#jogo #botoes {
    width: 25%;
    height: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.questionario button {
    cursor: pointer;
    font-family: 'Open Sans';
    font-weight: bold;
    border: none;
    background-color: #d86e89;
    border-radius: 10px;
    color: var(--new-white);
    font-size: 1.3em;
    box-shadow: black 1px;
    box-shadow: 1px 5px 5px rgba(161, 81, 101, 0.67);
}

.questionario button:hover {
    background-color: #b85b74
}

.questionario button:disabled {
    cursor: auto;    
    background-color: #d86e89;
}

button#btnSubmeter {
    height: 60px;
    width: 190px;
}
#btnProx {
    height: 60px;
    width: 140px;
}
#btnConcluir {
    height: 60px;
    width: 200px;
}
#btnTentarNovamente {
    height: 60px;
    width: 250px;
}




main .resultados {
    width: 90%;
    height: 90%;

}

main .resultados .card {
    background: url(../assets/igor-texture.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Heavitas';
    color: var(--new-white);
}

#pontuacaoFinal {
    font-size: 3em;
}

#pontuacaoDuranteJogo {
    color: var(--new-white);
    font-size: 2em;
}

.btns {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buttonResultados {
    border: none;
    height: 70px;
    width: 250px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Open Sans';
    font-weight: bold;
    border: none;
    background-color: #d86e89;
    border-radius: 10px;
    color: var(--new-white);
    font-size: 1.3em;
    box-shadow: black 1px;
    box-shadow: 1px 5px 5px rgba(161, 81, 101, 0.67);
}
.buttonResultados:hover{
    background-color: #b85b74
}
