* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

.site {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}

.site2{
    position: absolute;
    z-index: 101;
    top: 0;
    right: 0;
}

.site2 a{
    display: flex;
    justify-content: flex-end;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
}

.login {
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: 2;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cadastro {
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: 1;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.img {
    border-radius: 30px 0px 0px 30px;
    background: url(../assets/igor-texture.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: 250;
    right: 0;
    transform: translateX(0);
    transition:  0.4s transform ease !important;
}


/* Estilização Login */
.title-login {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
}

.content-login {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.login div h1 {
    font-size: 4em;
    margin-bottom: 20%;
    font-family: 'Heavitas';
}

.login div input{
    border: none;
    width: 65%;
    height: 15%;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
    font-size: 1.2em;
    background-color: #d2d2d2;
}

.login .senha {
    border-radius: 10px;
    height: 15%;
    width: 65%;
    display: flex;
    align-items: center;
    background-color: #d2d2d2;
    padding-right: 10px;
}

.login .senha input {
    height: 100%;
    width: 90%;
}

.login .senha img {
    cursor: pointer;
}

.login div button {
    cursor: pointer;
    width: 65%;
    height: 15%;
    border-radius: 10px;
    border: none;
    background-color: #f8b5c6;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Heavitas';
}

.login div button:hover {
    background-color: #b36176;
}

.login span {
    cursor: pointer;
}
/* Estilização Login */









/* Estilização Cadastro */
.title-cadastro {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
}

.content-cadastro {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.cadastro div h1 {
    font-size: 4em;
    margin-bottom: 20%;
    font-family: 'Heavitas';
}

.cadastro div input{
    border: none;
    width: 65%;
    height: 15%;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
    font-size: 1.2em;
    background-color: #d2d2d2;
}

.cadastro .senha {
    border-radius: 10px;
    height: 15%;
    width: 65%;
    display: flex;
    align-items: center;
    background-color: white;
    background-color: #d2d2d2;
    padding-right: 10px;
}

.cadastro .senha input {
    height: 100%;
    width: 90%;
}

.cadastro .senha img {
    cursor: pointer;
}

.cadastro div button {
    cursor: pointer;
    width: 65%;
    height: 15%;
    border-radius: 10px;
    border: none;
    background-color: #f8b5c6;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Heavitas';

}

.cadastro div button:hover {
    background-color: #f8b5c6;
}

.cadastro span {
    cursor: pointer;
}
/* Estilização Cadastro */


.transicao:hover {
    text-decoration: underline;
}

.formulario.ativo .img{
    transform: translateX(-100%);
    border-radius: 0px 30px 30px 0px;
}







@font-face {
    font-family: 'Heavitas';
    src: url(../assets/fonts/Heavitas.ttf) format('truetype');
}